@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default: Light mode */
  --foreground-rgb: 0, 0, 0; /* Dark text for light mode */
  --background-start-rgb: 214, 219, 220; /* Light background start */
  --background-end-rgb: 255, 255, 255; /* Light background end */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode overrides */
    --foreground-rgb: 255, 255, 255; /* Light text (white) for dark mode */
    --background-start-rgb: 0, 0, 0; /* Dark background start */
    --background-end-rgb: 0, 0, 0; /* Dark background end */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
