/* Default Light Mode Button */
.trapezoidButton {
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
  background-color: white; /* Default light mode */
  color: black;
  transition:
    clip-path 0.3s ease-in-out,
    background-color 0.3s,
    color 0.3s;
}

@media (prefers-color-scheme: dark) {
  .trapezoidButton {
    background-color: #2d2d2d;
    color: white;
  }
}

.trapezoidButton:hover,
.trapezoidButton:focus {
  clip-path: polygon(0% 0, 100% 0, 95% 100%, 5% 100%);
  background-color: rgba(240, 62, 62, 0.55);
  color: rgb(var(--foreground-rgb));
}
