.skill {
  padding: 12px 20px;
  font-size: 1rem;
  color: white;
  text-align: center;
  display: inline-block;
  border: none;
  width: auto;
  white-space: nowrap;
  margin: 0;

  /* Trapezoid Shape */
  clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
}

/* Invert shape for every even skill */
.skill:nth-child(even) {
  clip-path: polygon(0% 0, 100% 0, 91% 100%, 9% 100%);
}

/* Flex layout for skill content */
.skillContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Additional Styling for Specific Colors */
.blue {
  background-color: rgba(28, 126, 214, 0.55);
}

.green {
  background-color: rgba(102, 168, 15, 0.55);
}

.red {
  background-color: rgba(240, 62, 62, 0.55);
}

.gold {
  background-color: rgba(255, 215, 0, 0.55);
}

.purple {
  background-color: rgba(128, 0, 128, 0.55);
}
