.imgWrapper {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.imgWrapper::before {
  z-index: 100;
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  right: -20%;
  bottom: -20%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 135, 135, 0.15), #343a40);
}
